mat-card{
    margin: 2%;
    text-align: left;
    mat-card-footer{
        div{
            margin: 2%;
                text-align: right;
            button{
                margin: 2px;

            }
        }
    }

}
.mat-mdc-form-field{
width:  98%;
margin: 1%;
}

@media (max-width:600px) {
    
}

@media  (min-width:601px) and (max-width:1000px){
    .mat-mdc-form-field{
      margin: 40% !important;
    }
    
}
@media   (min-width:1001px){
    mat-form-field{
        width: 31% !important;

    }
   
}