.content { 
    padding: 16px; 
    margin-top: 64px; /* Adjust based on the height of your header */ 
    margin-bottom: 64px; /* Adjust based on the height of your footer */ 
}
// .main-container{
//     width: 1200px !important;
//     margin: 0 auto;
// }
